{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>Admin:</td>
            <td>{{ account['admin']}}</td>
        </tr>
    </table>

    <p>Press button to delete your account. This cannot be reversed!</p>
    <form action="{{ url_for('profile') }}" method="post" autocomplete="off">
        <input type="submit" value="Delete Account">
    </form>
</div>

<div id="confirmDelAcc" class="modal fade" role="dialog">

</div>
{% endblock %}